:root {
    --animation-iteration-count: 0;
    --opacity: 100%;
}
/* Game header to be bold */
#title
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: xx-large;
    margin: 0%;
    padding: 5px;
    color: #faf8dd;
    text-align: center;
}
.deck .card
{
    border: solid 1px #aaa;
    border-radius: 1px;
    width: 95px;
    height: 150px;
    float:left;
    background-color: white;
    padding: 3px 3px 3px 3px;
    margin: 5px;
}

.card2
{
    width: 50px;
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    margin: 3px;
    border:solid 3px;
}

.grid-container
{
    display: grid;
    grid-template-areas:
    'header header header'
    'menu main right'
    'footer footer footer'; 
    grid-template-columns: 150px auto 150px;
    grid-gap: 0px;
}
.grid-item
{
 
  background-color:darkgreen;
  padding: 10px;
}
#dealtCard
{
    width: 120px;
    height: 190px;
}
.names
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:normal;
    font-size: x-large;
    margin: 0%;
    padding: 0%;
    color: aliceblue;
}
.playArea
{
    text-align: center;
}
.statLabel
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: large;
    margin: 0%;
    padding: 0%;
    color: aliceblue;
}
#betAmount
{
    font-size:xx-large;
    font-weight: bold;
    color:gold;
}
#myMoney, #gamesPlayed, #wlp, #blackJacks, #userName, #wins
{
    font-size:large;
    font-weight: normal;
    color:gold;
}

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
    animation-iteration-count: infinite;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 50%; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 50%; }
  50% { opacity: 1; }
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #ffffd3;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 120px;
    border-radius: 4px;
  }
  .button:hover{
    background-color: #7a9b7b; 
    color: rgb(56, 56, 56);
  }
  .button:disabled{
    background-color: #7a9b7b;  
  }
  .button:active{
    border: #faf8dd;
  }